@import "_variables";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  line-height: 1;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}

body {
  height: 100vh;
  font-family: 'Geologica', sans-serif;
  background-color: $white;
}

header {
  width: $fixedWidth;
  height: 100%;
  padding: 8vh 30px 42px 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $red;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;

  h1 {
    font-size: 4.6rem;
    width: 50%;
    letter-spacing: 8px;
    line-height: 1;
    margin-bottom: 60px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 20px;
    padding-right: 110px;
  }

  h3,
  p {
    font-weight: 300;
    width: 77%;
    text-align: justify;
    line-height: 1.3;
  }

  p {
    font-size: 18px;
    margin-bottom: 34px;
  }

  nav {
    width: 70%;
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        margin-right: 10px;
        font-size: 15px;
        font-weight: 500;
        color: rgb(29, 29, 29);
        opacity: 0.7;
        padding-bottom: 7px;
        border-bottom: 1px solid rgb(29, 29, 29);
        margin-bottom: 7px;
        cursor: pointer;
        &:hover {
          opacity: 1;
          color:#000;
          border-bottom: 1px solid #000;
        }
      }
    }

    p {
      font-size: 11px;
      font-weight: 700;
      color:rgba(0,0,0,.5);
      margin-top: 20px;
      width: 21rem;
      text-align: left;
    }
  }
}

main {
  margin-left: $fixedWidth;

  .movie {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1) 2%,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)
      ),
      $red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 54px 48px;
    color: $white;

    .wrapper {
      display: flex;
      flex-direction: column;
      width: 86.44%;

      .movie_header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 15px;

        h4,
        h5 {
          color: $white;
        }

        h4 {
          font-size: 30px;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 3px;
          margin-bottom: 9px;
        }

        h5 {
          font-size: 12px;
          text-transform: capitalize;
          letter-spacing: 2px;
        }
      }

      .rating {
        display: flex;
        justify-content: flex-end;
        margin-top: 40px;

        p{
          font-size: 17px;
          color: #831d16;

        }
      }

      .comment {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;

        .firstp{
          p{
            text-transform: capitalize;
            color: #831d16;
            font-size: 17px;
          }
        }

        .leavecom {
          display: flex;
          justify-content: center;
          align-items: flex-start;

          i {
            color: #831d16;
            margin-right: 8px;
          }

          p {
            color: #831d16;
            padding-bottom: 10px;
            border-bottom: 2px solid #831d16;
          }

          i,
          p {
            font-size: 17px;
          }

          &:hover {
            cursor: pointer;
          }
        }

      }
    }

    .image_wrapper {
      width: 582px;
      height: 327px;
      box-shadow: 0 80px 80px -80px #000, 0 0 12px rgba(0, 0, 0, 0.06),
        inset 0 0 0 1px rgba(0, 0, 0, 0.2);
      position: relative;
      background-image: url('/assets/Images/static-5.jpg');
      background-size: cover;
      background-position: center center;

      .number {
        background-image: linear-gradient(to top right, #c82419, #e3291c 50%);
        padding: 0.7em 0.75em;
        left: -6px;
        top: 30px;
        position: absolute;
        box-shadow: inset 1px 0 0 #bf2318, inset 0 -1px 0 #ac1f15,
          inset 0 0 20px #bf2318;
        z-index: 100;

        p {
          font-size: 22px;
          font-weight: 500;
          text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
        }
      }
    }

    .image {
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 1.8s all ease;
    }

    .image.is-visible {
      opacity: 1;
    }
  }
}
